body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/R.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-title {
    width: 50%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.calculator, #ticket {
    background-color: rgb(136, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    margin: 100px;
    box-sizing: border-box;
    color: white;
}

.card > * {
    display: block;
    margin: auto;
    text-align: center;
} 

.card > label {
    padding-bottom: 18px;
}

.sub-title {
    margin: auto;
    font-size: larger;
    color: red;

}

h2 {
    text-align: center;
    margin: auto;
    color: white;
}

#price {
    display: block;
}
.labels {
    margin-bottom: 10px;
}